@tailwind base;
@tailwind components;
@tailwind utilities;


/* CUSTOM CSS SECTION START */


/* carousel css start */

.carousel-open:checked+.carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

#carousel-1:checked~.control-1,
#carousel-2:checked~.control-2,
#carousel-3:checked~.control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

#carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
  color: #000;
  /*Set to match the Tailwind colour you want the active one to be */
}

/* carousel css end */



/* CUSTOM CSS SECTION END */


.font-family-class{
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Nunito Sans', sans-serif;
}

.header-back-colr{
  background-color: #166534;
}

.text-hover-class:hover{
color: #166534;
}

.logo-size{
  height: 90px;
}

.back{
  background: url('https://media.istockphoto.com/id/1082411378/photo/magical-fairytale-forest.jpg?s=612x612&w=0&k=20&c=3iw53YdeeFEqRuxcUL0UCQZUMJ3e2IRtUfvgSjAysjQ=');
}

.mission-vision{
  height: 100px;
  width: 100px;
}

.body-color-website{
  background-color: #fff;;
}


.size{
  height: 20%;
}

.team-img-size{
  height: 359px;
}

.footer-back-color{
  background-color: #3f3826;;
  /* background-color:rgb(236, 230, 230); */
}


.product-img-size{
  height: 250px;
    width: 100%;
}

.size{
  padding: 3px;
}

.font-size-width{
  max-width: 460px;
}


.team-width{
  width: 450px;
}



@media only screen and (max-width: 865px) {
  .work-img{
    height: 100%;
  }
}

.img-h{
  height: 500px;

}